<section class="breadcrumb-option order_management">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Order</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">Home</a>
                        <a href="/product">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shopping-cart spad">
    <div class="container vertical-scrollable text-left scrollBox">
        <div class="card row order_management mx-auto p-3">
            <h5 class="card-title">Receiver information</h5>
            <div class="card-body">
                <div class="row p-0">
                    <p class="col-4 text-left ">Name</p>
                    <p class="col-8 text-right ">{{order.user_name}}</p>
                </div>
                <div class="row">
                    <p class="col-4 text-left ">Phone number</p>
                    <p class="col-8 text-right ">{{order.user_phone}}</p>
                </div>
                <div class="row">
                    <p class="col-4 text-left ">Address</p>
                    <p class="col-8 text-right ">{{order.shipping_address}}</p>
                </div>
            </div>
            <h5 class="card-title">Order ID: {{order.id}}</h5>
            {{#each products}}
            <div class="row" value={{id}}>
                <img class="col-2 card-img-top" src="/img/product/{{PRODUCT_IMAGE}}" width="50" height="75"
                    alt="Card image cap">
                <div class="col-10 card-body p-2">
                    <h5 class="card-text">{{PRODUCT_NAME}}</h5>
                    <p class="card-text text-right px-2">x{{quantity}}</p>
                    <p class="card-text text-right px-2">${{price}}</p>
                    <button value={{product_id}}  onclick="reviewClick(this.value)"
                        class="review_btn float-right ml-auto review-button">Review</button>
                </div>
            </div>
            <hr>
            {{/each}}
            <div class="card-body">
                <div class="row">
                    <p class="col-4 text-left px-2">Total</p>
                    <p class="col-8 text-right px-2">${{order.total}}</p>
                </div>
                <div class="row">
                    <p class="col-4  text-left px-2">Payment method</p>
                    <p class="col-8 text-right px-2">{{order.payment_method_name}}</p>
                </div>
                <div class="row">
                    <p class="col-4  text-left px-2">Order time</p>
                    <p class="col-8 text-right px-2">{{order.order_date}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<script src="/js/order.js"></script>
<script>
    // Assuming you have multiple review buttons
    const reviewButtons = document.querySelectorAll(".review-button");
    reviewButtons.forEach(button => {
        if (order.status == 3) {
            button.style.display = "block";
        } else {
            button.style.display = "none";
        }
    });
</script>