<section class="breadcrumb-option order_management">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Order</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">Home</a>
                        <a href="/product">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container green-navbar-background">

        <nav class="nav flex-column flex-sm-row white-text">
            <a id="-1" onclick="changeTabColor(event, this,this.id)"
                class=" order_management flex-sm-fill text-sm-center nav-link " href="/">
                <bold>ALL</bold>
            </a>
            <a id="1" value="1" onclick="changeTabColor(event, this,this.id)"
                class="order_management flex-sm-fill text-sm-center nav-link " href="/order/1">
                <bold>PENDING PROCESSING</bold>
            </a>
            <a id="2" onclick="changeTabColor(event, this,this.id)"
                class="order_management flex-sm-fill text-sm-center nav-link" href="order/2">DELIVERING</a>
            <a id="3" onclick="changeTabColor(event, this,this.id)"
                class="order_management flex-sm-fill text-sm-center nav-link" href="order/3">COMPLETED</a>
            <a id="0" onclick="changeTabColor(event, this,this.id)"
                class="order_management flex-sm-fill text-sm-center nav-link" href="order/0">CANCEL</a>
        </nav>
    </div>
</section>

{{#each orders}}
<div class="container text-left mb-5 p-0">
    <div class="order-card card row  order_management mx-auto p-3" id={{id}}>

        <div class=" container">
            <div class="row">
                <img class="col-2 card-img-top" src="/img/order_img.jpg" width="50" height="75" alt="Card image cap">
                <div class="col-10 ">
                    <h5 class="card-title">Order ID: {{id}}</h5>
                </div>
            </div>
            <hr>
            <div class="row p-0">
                <p class="col-4  text-left ">Total</p>
                <p class="col-8 text-right ">${{total}}</p>
            </div>
            <div class="row ">
                <p class="col-4  text-left ">Promotion</p>
                {{#if promotion_id}}
                <p class="col-8 text-right ">{{promotion_name}}</p>
                {{else}}
                <p class="col-8 text-right ">None</p>
                {{/if}}
            </div>
            <div class="row ">
                <p class="col-4  text-left ">Payment method</p>
                <p class="col-8 text-right ">{{payment_method_name}}</p>
            </div>

            <div class="row ">
                <p class="col-4  text-left ">Order date</p>
                <p class="col-8 text-right ">{{order_date}}</p>
            </div>
            <div class="row ">
                <p class="col-4  text-left ">Delivery address</p>
                <p class="col-8 text-right ">{{shipping_address}}</p>
            </div>
            <hr>
            <button value={{id}} onclick="viewDetailClick(this.value)" class="review_btn float-right ml-auto p-0">View
                detail</button>
        </div>
    </div>
</div>
{{/each}}

<script src="/js/order.js"></script>