<div class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="card-title">Product List</h4>
                  </div>
               </div>
               <div class="card-body">
                  <div class="table-responsive">
                     <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-6">

                        </div>
                        <div class="col-sm-6 col-md-6">
                           <div class="user-list-files d-flex">
                              <a class="btn btn-primary" href="#" data-target="#new-product-modal" data-toggle="modal">
                                 Add New Product
                              </a>

                           </div>
                        </div>
                     </div>
                     <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid"
                        aria-describedby="user-list-page-info">
                        <thead>
                           <tr class="ligth">
                              <th>Image</th>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Category</th>
                              <th>Brand</th>
                              <th>Remain</th>
                              <th style="min-width: 100px">Action</th>
                           </tr>
                        </thead>
                        <tbody id="where-to-place-template">

                           {{!--place the template in here--}}


                           {{!--place the template in here--}}

                        </tbody>
                     </table>
                  </div>
                  <div class="row justify-content-between mt-3">
                     <div id="user-list-page-info" class="col-md-6">
                        <span>Page</span>
                     </div>
                     <div class="col-md-6">
                        <nav aria-label="Page navigation example">
                           <ul class="pagination justify-content-end mb-0" id="product-pagination">
                              {{!-- <li class="page-item disabled">
                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                 <a class="page-link" href="#">Next</a>
                              </li> --}}
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-product-modal">
   <div id="dialog" class="modal-dialog  modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header d-block text-center pb-3 border-bttom">
            <h3 class="modal-title" id="exampleModalCenterTitle">New Product</h3>
         </div>
         <div class="modal-body">
            <form id="product-form" action="/product/new" method="post" enctype="multipart/form-data">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="mb-3">
                        <label for="product-name" class="h5">Product Name*</label>
                        <input type="text" class="form-control" id="product-name" name="product_name"
                           placeholder="Enter product Name" value="" required>
                        <a href="#" class="task-edit text-body"><i class="ri-edit-box-line"></i></a>
                     </div>
                     <div id="empty-product-name" class="error ml-3" style="display: none;">
                        Please provide name of the new product
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="mb-3">
                        <label for="product-category" class="h5">Category*</label>
                        <select class="selectpicker form-control" data-style="py-0" id="product-category"
                           name="product_category" required>
                           <option>Eyeshadow</option>
                           <option>Block Lipstick</option>
                           <option>Mascara</option>
                           <option>Perfume</option>
                           <option>Powder</option>
                           <option>Primer</option>
                           <option>Serum</option>
                           <option>Skincare</option>


                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="mb-3">
                        <label for="product-id" class="h5">Product ID </label>
                        <input type="text" class="form-control" id="product-id" value=""
                           placeholder="auto-generated by Category" name="product_id">
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="mb-3">
                        <label for="product-brand" class="h5">Brand*</label>
                        <select class="selectpicker form-control" data-style="py-0" id="product-brand"
                           name="product_brand" required>
                           <option selected>Lancome Paris</option>
                           <option>Avon</option>
                           <option>MAC</option>
                           <option>Clinique</option>
                           <option>ILIA</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="mb-3">
                        <label for="product-description" class="h5">Description</label>
                        <textarea class="form-control" id="product-description" rows="3"
                           name="product_description"></textarea>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="mb-3">
                        <label for="product-price" class="h5">Price*</label>
                        <input type="text" class="form-control" id="product-price" placeholder="price"
                           name="product_price" value="" required>
                     </div>
                  </div>

                  <div id="empty-product-price" class="error ml-3" style="display: none;">
                     Please provide price of the new product
                  </div>

                  <div class="error ml-3" id="invalid-product-price" style="display: none;">
                     Invalid currency value
                  </div>

                  <div class="col-lg-12">
                     <div class="mb-0">
                        <label for="product-image" class="h5">Attachments</label>
                        <div class="custom-file">
                           <input type="file" class="custom-file-input" id="product-image" name="product_image">
                           <label class="custom-file-label" for="product-image">Upload image</label>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-4">
                        <div class="btn btn-primary mr-3">
                           <input type="submit" id="save-button" class="btn btn-primary mr-3" name="product_img" value="Save"/>
                        </div>
                        {{!-- <div id="save-button" class="btn btn-primary mr-3">Save</div> --}}
                        {{!-- <input class="btn btn-primary mr-3" type="submit" id="submit-button" value="Save"> --}}
                        <div class="btn btn-primary" data-dismiss="modal">Cancel</div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="edit-product-modal">
   <div id="dialog" class="modal-dialog  modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header d-block text-center pb-3 border-bttom">
            <h3 class="modal-title" id="exampleModalCenterTitle">Edit Product</h3>
         </div>
         <div class="modal-body">
            <form id="edit-product-form" method="post" enctype="multipart/form-data">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="mb-3">
                        <label for="edit-product-name" class="h5">Product Name*</label>
                        <input type="text" class="form-control" id="edit-product-name" name="product_name"
                           placeholder="Enter product Name" value="" required>
                        <a href="#" class="task-edit text-body"><i class="ri-edit-box-line"></i></a>
                     </div>
                     <div id="empty-edit-product-name" class="error ml-3" style="display: none;">
                        Please provide name of the product
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="mb-3">
                        <label for="edit-product-category" class="h5">Category*</label>
                        <select class="selectpicker form-control" data-style="py-0" id="edit-product-category"
                           name="product_category" required>
                           <option selected>Eyeshadow</option>
                           <option>Block Lipstick</option>
                           <option>Mascara</option>
                           <option>Perfume</option>
                           <option>Powder</option>
                           <option>Primer</option>
                           <option>Serum</option>
                           <option>Skincare</option>


                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="mb-3">
                        <label for="edit-product-id" class="h5">Product ID </label>
                        <input type="text" class="form-control" id="edit-product-id" value=""
                           placeholder="auto-generated by Category" name="product_id" disabled="true">
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="mb-3">
                        <label for="edit-product-brand" class="h5">Brand*</label>
                        <select class="selectpicker form-control" data-style="py-0" id="edit-product-brand"
                           name="product_brand" required>
                           <option selected>Lancome Paris</option>
                           <option>Avon</option>
                           <option>MAC</option>
                           <option>Clinique</option>
                           <option>ILIA</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="mb-3">
                        <label for="edit-product-description" class="h5">Description</label>
                        <textarea class="form-control" id="edit-product-description" rows="3"
                           name="product_description"></textarea>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="mb-3">
                        <label for="edit-product-price" class="h5">Price*</label>
                        <input type="text" class="form-control" id="edit-product-price" placeholder="price"
                           name="product_price" value="" required>
                     </div>
                  </div>

                  <div id="empty-edit-product-price" class="error ml-3" style="display: none;">
                     Please provide price of the product
                  </div>

                  <div class="error ml-3" id="invalid-edit-product-price" style="display: none;">
                     Invalid currency value
                  </div>

                  <div class="col-lg-12">
                     <div class="mb-0">
                        <label for="edit-product-image" class="h5">Attachments</label>
                        <div class="custom-file">
                           <input type="file" class="custom-file-input" id="edit-product-image" name="product_image">
                           <label class="custom-file-label" for="edit-product-image">Upload image</label>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-4">
                        <div id="edit-button" class="btn btn-primary mr-3">Edit</div>
                        {{!-- <input class="btn btn-primary mr-3" type="submit" id="submit-button" value="Save"> --}}
                        <div class="btn btn-primary" data-dismiss="modal">Cancel</div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>




<script id="product-template" type="text/x-handlebars-template">
\{{#each .}}
   <tr>
   <td class="text-center"><img class="rounded img-fluid avatar-40"
         src="/img/product/\{{PRODUCT_IMAGE}}" alt="product image \{{PRODUCT_ID}}"></td>
   <td>\{{PRODUCT_ID}}</td>
   <td>\{{PRODUCT_NAME}}</td>
   
   {{!-- <td><span class="badge bg-primary">In Stock</span></td> --}}
   <td>\{{PRODUCT_PRICE}}</td>
   
   <td>\{{PRODUCT_CATEGORY}}</td>
   <td>\{{PRODUCT_BRAND}}</td>
   <td><span class="badge bg-primary">\{{NUMBER_OF}} In Stock</span></td>
   <td>
      <div class="flex align-items-center list-user-action">
         {{!-- <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Add" href="#"><i class="ri-user-add-line mr-0"></i></a> --}}
         <a class="btn btn-sm bg-primary admin_product_list_page_edit_button" data-toggle="modal" data-placement="top" title=""
            data-original-title="Edit" id="\{{PRODUCT_ID}}" data-target="#edit-product-modal"
            onclick="handleEditButtonClick(id)"><i class="ri-pencil-line mr-0"></i></a>
         <a class="btn btn-sm bg-primary" name = "delete-btn" data-toggle="tooltip" data-placement="top" title=""
            onclick="handleDeleteButtonClick(id)"
            data-original-title="Delete" id="\{{PRODUCT_ID}}"><i class="ri-delete-bin-line mr-0"></i></a>
      </div>
   </td>
   </tr>
\{{/each}}
</script>


<script id="pagination-template" type="text/x-handlebars-template">
    \{{#each pagearray as |PA|}}
    <li class="page-item active"><a class="page-link" href="#">\{{PA}}</a></li>
    \{{/each}}
</script>


{{#extend "scripts"}}

<script>

   var oldProductId = ""
   var oldProductCategory = ""

</script>

<script>
   function getStartIdKey(category) {
      var result = "ES";
      if (category == "Block Lipstick") {
         result = "LI"
      }
      else if (category == "Mascara") {
         result = "MA"
      }
      else if (category == "Perfume") {
         result = "PE"
      }
      else if (category == "Powder") {
         result = "PO"
      }  
      else if (category == "Primer") {
         result = "PR"
      }
      else if (category == "Serum") {
         result = "SE"
      }
      else if (category == "Skincare") {
         result = "SK"
      }
      return result
   }


   function autoGenerate_ProductId(category, mode) {
      $.getJSON(`product/bg_filterByCategory/${category}`, function (result) {
         console.log("bg_filterByGategory")
         let size = result.length;
         let current_category = ""
         if (mode == "new") {
            current_category = $("#product-category").val();
            console.log("new category: " + current_category)
         }
         else if (mode == "edit") {
            current_category = $("#edit-product-category").val();
            console.log("edit category: " + current_category)
         }
         console.log("size: " + size);

         let start_key = getStartIdKey(current_category)
         let autoId = ""
         let max_number = 0
         for(let i=0; i< size; i++)
         {
            let splitedId = parseInt(result[i].PRODUCT_ID.substring(2), 10)
            if(splitedId > max_number)
            {
               max_number = splitedId
            }
         }

         if (max_number < 10) {
            autoId = autoId.concat(start_key).concat("0").concat((max_number + 1).toString())
         }
         else {
            autoId = autoId.concat(start_key).concat((max_number + 1).toString());
         }
         console.log("autoID: " + autoId);

         if (mode == "new") {
            document.getElementById("product-id").setAttribute("value", autoId)
         }
         else if (mode == "edit") {
            document.getElementById("edit-product-id").setAttribute("value", autoId)
         }
         // document.getElementById("product-id").setAttribute("value", autoId)
      });
   }

</script>



<script>
   function loadProductPage(page) {
      $.getJSON(`product/list?page=${page}`, function (data) {
         console.log(window.location.href);
         var source = $('#product-template').html();
         var template = Handlebars.compile(source);
         var html = template(data.listProducts);
         $('#where-to-place-template').html(html);

         /*var links = Array.from(Array(products.paging.last_page - products.paging.first_page + 1)).map((_, idx) =>
         ({
            pageNumber: idx + products.paging.first_page,
         }));*/
         var links = data.pageObject;
         $('#product-pagination').html(Handlebars.compile($('#pagination-template').html())(links));
         $('#product-pagination .page-link').click(function (event) {
            event.preventDefault();
            loadProductPage($(this).html());
         });
      });
   }

   loadProductPage(1);
   let default_category = $("#product-category").index();
   console.log(default_category)
   autoGenerate_ProductId(default_category, "new");

</script>



<script>
   $("#product-category").change(
      function () {
         console.log("category-change")
         const current_category = $(this).children("option:selected").index() + 1;
         console.log(current_category)
         autoGenerate_ProductId(current_category, "new")
      }

   )
</script>

<script>
   $("#edit-product-category").change(
      function () {
         console.log("edit-category-change")
         const current_category = $(this).children("option:selected").index() + 1;
         const current_category_value = $(this).children("option:selected").val();
         console.log(current_category)
         if (current_category_value == oldProductCategory) {
            document.getElementById("edit-product-id").setAttribute("value", oldProductId)
         }
         else {
            autoGenerate_ProductId(current_category, "edit")
         }
      }

   )

</script>


<script>
   /*
   $("#save-button").click(
      function (mode) 
      {
         var check = true;
         $("#empty-product-name").hide();
         $("#empty-product-price").hide();
         $("#invalid-product-price").hide();
         console.log("executeProduct");
         var product_name = $("#product-name").val();
         var product_price = $("#product-price").val();

         console.log(product_name);
         if (product_name.length == 0) 
         {
            console.log("empty-product-name")
            $("#empty-product-name").show()
            check = false
         }
         if (product_price.length == 0) {
            console.log("empty-product-price")
            $("#empty-product-price").show()
            check = false;
         }
         //check isValidPriceValue

         if (check == false) {
            return;
         }

         let formData = new FormData()
         
         $("#product-id").removeAttr("disabled")
        
         let inputFile = $("#product-image")[0].files[0];

         let data = $("#product-form").serializeArray();
         for(let i=0; i< data.length ; i++)
         {
            formData.append(data[i].name, data[i].value)
         }

         formData.append("product_image", inputFile)

         console.log(formData.entries())

         const JsonData = Object.fromEntries(formData.entries())
         console.log(JsonData)
         
         $.ajax({
            url:'/product/new',
            method:'POST',
            data: formData,
            success: function (result) {
            console.log(result);
            if (result != 0) {
               alert("Create new product successfully")

            }
            else {
               alert("Create new product failed")
            }
         }
         })

         /*
         $.post('product/new', JsonData, function (result) {
            console.log(result);
            if (result != 0) {
               alert("Create new product successfully")

            }
            else {
               alert("Create new product failed")
            }
         })
         document.getElementById("product-id").setAttribute("disabled", "true")
      }
   )
   */
/*
   $("#product-form").submit(
      function(event)
      {
         console.log(event.target)
      }
   )
*/

   $("#edit-button").click(
      function () {
         var check = true;
         $("#empty-edit-product-name").hide();
         $("#empty-edit-product-price").hide();
         $("#invalid-edit-product-price").hide();
         console.log("executeProduct");
         var product_name = $("#edit-product-name").val();
         var product_price = $("#edit-product-price").val();
         const newProductId = $("#edit-product-id").val();

         console.log(product_name);
         if (product_name.length == 0) {
            console.log("empty-edit-product-name")
            $("#empty-edit-product-name").show()
            check = false
         }
         if (product_price.length == 0) {
            console.log("empty-edit-product-price")
            $("#empty-edit-product-price").show()
            check = false;
         }
         //check isValidPriceValue

         if (check == false) {
            return;
         }
         $("#edit-product-id").removeAttr("disabled")
         //var data = $("#edit-product-form").serialize();
         let inputFile = $("#edit-product-image")[0].files[0];
         let formData = new FormData()
         let data = $("#edit-product-form").serializeArray();
         for(let i=0; i< data.length ; i++)
         {
            formData.append(data[i].name, data[i].value)
         }

         formData.append("product_image", inputFile)

         console.log(formData.entries())

         const JsonData = Object.fromEntries(formData.entries())
         console.log(JsonData)

         console.log(JsonData);
         console.log("oldProductId: " + oldProductId)
         console.log("newProductId: " + newProductId)
         if (oldProductId != newProductId) {
            /*$.post('product/new', data, function (result) {
               console.log(result);
               if (result != 0) {
                  alert("Create new product successfully")
               }
               else {
                  alert("Create new product failed")
               }
            })*/
            $.ajax({
               url:'/product/new',
               method:'POST',
               data: formData,
               contentType: false,
               processData:false,
               success: function (result) 
               {
                  console.log(result);
                  if (result != 0) {
                     alert("Create new product successfully")
                     loadProductPage(1)
                  }
                  else {
                     alert("Create new product failed")
                  }
               }
            })
         }
         else 
         {
            $.ajax({
               url:'/product/bg_edit',
               method:'POST',
               data: formData,
               contentType: false,
               processData:false,
               success: function (result) 
               {
                  console.log(result);
                  if (result != 0) {
                     alert("Update product successfully")
                     loadProductPage(1)
                  }
                  else {
                     alert("Update product failed")
                  }
               }
            })
         }
         document.getElementById("edit-product-id").setAttribute("disabled", "true")
      }
   )

</script>

<script>
   function getIndexOfCategoryOption(option) {
      let result = 1
      if ("Block Lipstick".includes(option) > 0) {
         result = 2
      }
      else if ("Mascara".indexOf(option) > 0 || "MASCARA".includes(option)) {
         result = 3
      }
      else if ("Perfume".indexOf(option) > 0 || "PERFUME".includes(option)) {
         result = 4
      }
      else if ("Powder".indexOf(option) > 0 || "POWDER".includes(option)) {
         result = 5
      }
      else if ("Primer".indexOf(option) > 0) {
         result = 6
      }
      else if ("Serum".indexOf(option) > 0) {
         result = 7
      }
      else if ("Skincare".indexOf(option) > 0) {
         result = 8
      }
      return result
   }


   function handleEditButtonClick(product_id) {
      console.log("edit-button-click")
      console.log("edit-product-id: " + product_id)

      $.getJSON(`product/bg_detail/${product_id}`, function (result) {
         oldProductId = result.PRODUCT_ID
         oldProductCategory = result.PRODUCT_CATEGORY

         let product_category_index = getIndexOfCategoryOption(result.PRODUCT_CATEGORY)
         console.log(product_category_index)
         console.log(result)
         document.getElementById("edit-product-name").setAttribute("value", result.PRODUCT_NAME)
         $("edit-product-category").val(result.PRODUCT_CATEGORY)
         document.getElementById("edit-product-id").setAttribute("value", result.PRODUCT_ID)
         //$("edit-product-brand").val()
         document.getElementById("edit-product-description").textContent = result.PRODUCT_DESCRIPTION
         document.getElementById("edit-product-price").setAttribute("value", result.PRODUCT_PRICE)
      });

   }

   function handleDeleteButtonClick(productId) {
      console.log("handle-delete-button-click, id= " + productId)
      let check = window.confirm("Do you want to delete " + productId + " feature? This process can't be undone!")
      console.log("delete option: " + check)
      if (check == false) {
         return;
      }

      $.get(`product/bg_remove/${productId}`, function (result) {
         console.log(result)
         if (result != 0) {
            alert("Remove " + productId + " feature successfully!")
            loadProductPage(1)
         }
         else {
            alert("Remove " + productId + " feature failed!")  
         }
      })

   }
</script>


{{/extend}}