<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="/product/search" method="post">
                            <input type="text" placeholder="Search..." name="keyword">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="/product/filterByCategory/1">Eye Shadow</a></li>
                                                <li><a href="/product/filterByCategory/2">Block Lipstick</a></li>
                                                <li><a href="/product/filterByCategory/3">Mascara</a></li>
                                                <li><a href="/product/filterByCategory/4">Perfume</a></li>
                                                <li><a href="/product/filterByCategory/5">Powder</a></li>
                                                <li><a href="/product/filterByCategory/6">Primer</a></li>
                                                <li><a href="/product/filterByCategory/7">Serum</a></li>
                                                <li><a href="/product/filterByCategory/8">Skincare</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li><a href="/product/filterByBrand/1">Avon</a></li>
                                                <li><a href="/product/filterByBrand/2">Ilia</a></li>
                                                <li><a href="/product/filterByBrand/3">Mac</a></li>
                                                <li><a href="/product/filterByBrand/4">Clinique</a></li>
                                                <li><a href="/product/filterByBrand/5">Lancome Paris</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="/product/filterByPrice/1">$0.00 - $30.00</a></li>
                                                <li><a href="/product/filterByPrice/2">$30.00 - $60.00</a></li>
                                                <li><a href="/product/filterByPrice/3">$60.00 - $90.00</a></li>
                                                <li><a href="/product/filterByPrice/4">$90.00 - $120.00</a></li>
                                                <li><a href="/product/filterByPrice/5">$120.00+</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        {{!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>
                            </div>
                        </div> --}}
                    </div>
                </div>
                <div class="row">
                    {{#each result}}
                    <div class="col-lg-4 col-md-6 col-sm-6">

                        <div class="product__item">

                            <div class="product__item__pic set-bg">
                                <img class="set-bg" src={{PRODUCT_IMAGE}}>
                                <ul class="product__hover">
                                    <a href="/product/{{PRODUCT_ID}}"><img src="/img/icon/search.png" alt=""></a>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{PRODUCT_NAME}}</h6>
                                <a href="/cart/add-to-cart/{{PRODUCT_ID}}" class="add-cart">+ Add To Cart</a>
                                <h5>{{PRODUCT_PRICE}}</h5>
                                <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                    <label class="active black" for="pc-5">
                                        <input type="radio" id="pc-5">
                                    </label>
                                    <label class="grey" for="pc-6">
                                        <input type="radio" id="pc-6">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>