<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4> </h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html"> </a>
                        <a href="./shop.html"> </a>
                        <span> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form id="checkout-form" method="POST" action="#">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <h6 class="checkout__title">Billing Details</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Full Name<span>*</span></p>
                                    <input type="text" name="user_name" value="{{orderInfor.orderName}}">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input type="text" placeholder="Street Address" class="checkout__input"
                                name="shipping_address" value="{{orderInfor.orderAddress}}">

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input type="text" name="user_phone" value="{{orderInfor.orderPhone}}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="text" name="user_email" value="{{orderInfor.orderEmail}}">
                                </div>
                            </div>
                        </div>

                        <div class="container-flush row">
                            <div class="col-10 checkout__input">
                                <p>Promotion</p>
                                {{#if selected_promotion}}
                                <input type="text" placeholder="Select promotion for your bill"
                                    value="{{selected_promotion.name}}" name="promotion_name">
                                {{else}}
                                <input type="text" placeholder="Select promotion for your bill" value="" disabled="true"
                                    name="promotion_name">
                                {{/if}}
                            </div>
                            <div class="col-2">
                                <br><br>
                                {{!-- <button class="btn-lg"
                                    style="border: none; background: #fff5f3; margin-top: -8px">
                                    <a href="#" class="btn-lg" style="width: max-parent; background: #fff5f3"
                                        data-target="#select-promotion-modal" data-toggle="modal">
                                        <i class="fa fa-ticket" style="color: black;"></i>
                                    </a>
                                </button> --}}

                                <a href="/promotion" class="btn-lg" style="width: max-parent; background: #fff5f3;">
                                    <i class="fa fa-ticket" style="color: black;"></i>
                                </a>
                            </div>
                        </div>

                        {{#if selected_promotion}}
                        <div class="checkout__input" style="display: none;">
                            <p>Promotion ID</p>
                            <input type="text" name="promotion_id" value="{{selected_promotion.id}}">
                        </div>
                        {{else}}
                        <div class="checkout__input" style="display: none;">
                            <p>Promotion ID</p>
                            <input type="text" name="promotion_id" value="">
                        </div>
                        {{/if}}
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                {{#each product}}
                                <li>{{PRODUCT_NAME}} <span>$ &nbsp;&nbsp; {{total}}</span></li>
                                {{/each}}
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Price <span name="totalPriceInput" class="checkout__input"
                                        value="{{orderInfor.totalPrice}}">$
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{orderInfor.totalPrice}}</span></li>
                                {{!-- <li>Ship <span>$ &nbsp;&nbsp; 0.00</span></li> --}}
                                {{!-- <li>Total <span name="totalPriceInput"
                                        value="{{orderInfor.totalPrice}}">${{orderInfor.totalPrice}}</span></li> --}}
                                <li>
                                    <div class="container-flush row">
                                        <div class="col-8">
                                            <label for="total-price">Promotion</label>
                                        </div>
                                        <div class="col-4">
                                            {{#if selected_promotion}}
                                            <span>-$ <input type="text" id="discount-price" name="discount_price"
                                                    value="{{selected_promotion.discount}}"
                                                    class="checkout_input_price_viewonly" />
                                            </span>
                                            {{else}}
                                            <span>$ <input type="text" id="discount-price" name="discount_price"
                                                    value="0" class="checkout_input_price_viewonly" />
                                            </span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-flush row">
                                        <div class="col-8">
                                            <label for="total-price">Total</label>
                                        </div>
                                        <div class="col-4">
                                            <span>$ <input type="text" id="total-price" name="total_price"
                                                    value="{{orderInfor.totalPrice}}"
                                                    class="checkout_input_price_viewonly" />
                                            </span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class=" checkout__input__checkbox checkout__input">
                                <label for="payment">
                                    Cash on delivery
                                    <input type="checkbox" id="payment" value="cash" name="payment_method">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox checkout__input">
                                <label for="paypal">
                                    Momo
                                    <input type="checkbox" id="paypal" value="momo" name="payment_method">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button id="checkout-submit-button" type="button" class="site-btn ">Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


{{#extend "scripts"}}

<script>
    function calculateRealDiscountValue() {
        let discount_value = $("#discount-price").val()
        if (discount_value == 0) {
            return;
        }

        let total_price = $("#total-price").val();
        discount_value = Math.round(total_price / 100 * discount_value);
        total_price = total_price - discount_value;
        $("#discount-price").val(discount_value)
        $("#total-price").val(total_price);
    }


    $("#checkout-submit-button").click(
        function () {
            var data = $("#checkout-form").serialize()
            $.post('/order', data, function (result) {
                if (result == true) {
                    return;
                    //alert("Checkout successfully!")
                }
                else if (result == false) {
                    alert("Checkout failed! Please provide all required infomation\nAnd don't forget your payment method too -_^")
                }
            })
        }
    )

    calculateRealDiscountValue()
</script>

{{/extend}}