<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profiles</title>

    <link rel="stylesheet" type="text/css" href="/css/profiles.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="#"><i class="fa fa-home"></i></a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row box">
            <div class="col-xl-10">
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="POST" action="/account/editProfile">
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username</label>
                                <input class="form-control" id="inputUsername" type="text" placeholder=""
                                    name="nameEdit" value="{{user.loginName}}">
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" id="inputEmailAddress" type="email" name="emailEdit"
                                    placeholder="Enter your email address" value="{{user.loginEmail}}" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputAddress">Address</label>
                                <input class="form-control" id="inputAddress" type="text" name="addressEdit"
                                    placeholder="Enter your Address" value="{{user.loginAddress}}">
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="tel" name="phoneEdit"
                                        placeholder="Enter your phone number" value="{{user.loginPhone}}">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Birthday</label>
                                    <input class="form-control" id="inputBirthday" type="text" name="birthdayEdit"
                                        placeholder="Enter your birthday" value="{{user.loginBirthday}}">
                                </div>
                            </div>
                            <button>Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/profiles.js"></script>

</html>